.interior {
    padding-top: 62px;
    padding-bottom: 70px;
    background-image: url(../img/bg_interior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__slider-wrapper {
        display: flex;
        margin-top: 45px;
    }
    &__item {
        margin-right: 30px;
        img {
            width: 360px;
            height: 410px;
        }
    }
}