._restaurant {
    padding-top: 65px;
    padding-bottom: 63px;
    background-image: url(../img/bg_restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &__wrapper-outside {
        display: flex;
        justify-content: space-between;
    }
    &__wrapper-inside {
        display: flex;
        flex-direction: column;
    }
    .title {
        font-size: 24px;
        line-height: 34px;
    }
    &__descr {
        font-size: 18px;
        line-height: 26px;
        color: #C8CDD8;
        margin-top: 20px;
    }
    &__button {
        background-color: #6C525B;
        color: #FFFFFF;
    }

}